::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #101622;
}
::-webkit-scrollbar-thumb {
  background: #2d3648;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #3b4354;
}
body {
  min-height: max(884px, 100dvh);
}
